<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="bootstrap.php"
        colors="true"
        syntaxCheck="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
>
    <testsuites>
        <testsuite name="download">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
    <logging>
        <log type="coverage-html" target="./codeCoverage" charset="UTF-8"
             yui="true" highlight="false"
             lowUpperBound="35" highLowerBound="70"/>
        <log type="coverage-clover" target="./codeCoverage/codeCoverage.xml"/>
        <log type="metrics-xml" target="./metrics/metrics.xml"/>
        <log type="test-xml" target="./testResults/logfile.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
