<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="true"
>
    <testsuites>
        <testsuite name="download">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="ENV" value="testing"/>
        <env name="BCRYPT_ROUNDS" value="4"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_DRIVER" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>
    <logging>
        <log charset="UTF-8" highLowerBound="70" highlight="false"
             lowUpperBound="35" target="./codeCoverage"
             type="coverage-html" yui="true"/>
        <log target="./codeCoverage/codeCoverage.xml" type="coverage-clover"/>
        <log target="./metrics/metrics.xml" type="metrics-xml"/>
        <log logIncompleteSkipped="false" target="./testResults/logfile.xml" type="test-xml"/>
    </logging>
</phpunit>
